<h3>Lijst van gevonden scratch-netters</h3>

<ul>
{{#services}}
<li>
  {{key}} 
    {{#params.isMe}}*this is you*{{/params.isMe}}
    {{^params.isMe}}*not you*{{/params.isMe}}

    {{#params.isMaster}}*MASTER*{{/params.isMaster}}
    {{^params.isMaster}}--{{/params.isMaster}}
</li>
{{/services}}
</ul>

<h3>Lijst van comm services</h3>

FIXME: this list is fake
<ul>
<li>chat</li>
<li>guess</li>
<li>zeeslag</li>
<li>galgje</li>
</ul>

<h3>TODO</h3>

Implement UI widgetry to connect our own scratchnet instance to another scratchnet instance (warning if an instance is already connected etc)
