extend layout

block content
  div(ng-app)
    .container(data-ng-controller="ScratchnetController as scratchnet")
      .row
        .col-md-4
          p: a(href="#somewhere") go to '#somewhere'
          p: a(href="#") go to '#'
          p: a(href="foo") go to 'foo'

      .row
        .col-md-4(ng-view)
          p AngularJS testing

      .row
        .col-md-4
          h3 Lijst van beschikbare services


          h4 Sleep van hier...
          ul
            each svc,key in catalog
              li.linker #{key}

        .col-md-4
          h3 Lijst van gevonden scratch-netters

          h4 ... naar hier
          each svc,key in services
            ul
              li.service #{svc.key} #{svc.params.isMe?"*me*":""} #{svc.params.isMaster?"*master*":""}
            ul

        script.
          $(function() {
            $(".linker").draggable({revert:true})
            $(".service")
              .droppable({
                accept: ".linker",
                activeClass: "ui-state-hover",
                hoverClass: "ui-state-active",
                drop: function( event, ui ) {
                  var svc = $(this).text()
                  var linker = ui.helper.text()
                  alert(svc)
                  alert(linker)
                  //showLinkDialog(svc, linker)
                }
              })

            //TODO: enable drag-n-drop between services and scratchnet instances
          })

      .row
        .col-md-12
          h3 Lijst van actieve links
            TODO
