extend layout

block content
  div
    .container(ng-controller="ScratchnetController")
      .row
        .col-md-4
          h1 Scratchnet

      .row
        .col-md-4(ng-view)
          p (loading...)

