doctype html

html(lang="en")
head
  title Test

  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  link(rel="stylesheet", href="public/components/jquery-ui/themes/pepper-grinder/jquery-ui.min.css")

  script(data-main="/public/scratchnet/js/main" src="/public/components/requirejs/require.js")

body
  #content 
    block content
