doctype html

html(lang="en")
head
  title Test

  script(src="//code.jquery.com/jquery-1.10.2.min.js")

  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

  //TODO: provide this theme in the public/components folder? -- currently missing from repo
  link(rel="stylesheet", href="public/components/jquery-ui/themes/pepper-grinder/jquery-ui.min.css")
  //TODO: provide this resource in the public/components -- currently missing from resource
  script(src="/public/components/jquery-ui/ui/minified/jquery-ui.min.js")

  script(src="/public/scratchnet/js/scratchnet.js")

body
  #content 
    block content
