
<div class="row">
  <div class="col-md-4">
    <h4>Services</h4>
    <ul>
      <li sn-service ng-repeat="(id,svc) in services">{{id}}</li>
    </ul>
  </div>

  <div class="col-md-4">
    <h4>Scratchnetters</h4>
    <ul>
      <li sn-instance ng-repeat="inst in scratchnetInstances">{{inst.id}}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Verstuurde uitnodigingen</h4>
    <ul>
      <li sn-inv-out ng-repeat="inv in invitationsOut">{{inv.id}}</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Ontvangen uitnodigingen</h4>
    <ul>
      <li sn-inv-in ng-repeat="inv in invitationsIn">{{inv.id}}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Links</h4>
    <ul>
      <li sn-inv-out ng-repeat="link in links">{{link.id}}</li>
    </ul>
  </div>
</div>
